<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="inputField(fieldName, labelText, type)" class="col-md-4">
  <div class="form-floating mb-3 mb-md-0">
    <input class="form-control"
           th:id="${'field' + #strings.capitalize(fieldName)}"
           th:type="${type}"
           th:field="*{__${fieldName}__}"
           th:placeholder="${labelText}" required />

    <label th:for="${'field' + #strings.capitalize(fieldName)}" th:text="${labelText}"></label>
  </div>
</div>

</body>
</html>